@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 100%;
    --white: #fff;
    --black: #000;
    --text-color: rgb(22, 24, 35);
    --tippy-color: rgba(84, 84, 84, 0.92);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    path {
        pointer-events: none;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'TikTokFont', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// fonts embeded
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 500;
}

// tippy custom
body {
    .tippy-box {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 21px;
        border-radius: 8px;
        background-color: var(--tippy-color);
        padding: 4px 0;

        .tippy-content > div {
            color: var(--white);
        }
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
        color: var(--tippy-color);
    }
}
