// Menu wrapper
.menu-list {
    width: 240px;

    .menu-item {
        position: relative;
        margin-left: 0;
    }
}

.menu-popper {
    padding: 8px 0;
}

// Menu item
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 10px 8px 10px 16px;

    span,
    path {
        height: 21px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 21px;
    }

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.header {
    position: relative;
    display: flex;
    min-height: 50px;
    align-items: center;
}

.back-btn {
    margin-left: 28px;
    min-height: 20px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    svg {
        font-size: 2rem;
    }
}

.header-title {
    position: absolute;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 20px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}
