.wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 9px 16px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    margin-right: 12px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

// .info {
// }

.username {
    font-size: 1.6rem;
}

.check {
    margin-left: 6px;
    path {
        color: var(--white);
    }
}

.name {
    font-size: 1.4rem;
}
