.wrapper {
    position: fixed;
    top: var(--default-layout-header-height);
    left: 0;
    display: flex;
    width: var(--default-layout-sidebar-width);
    min-height: 100%;
    padding: 20px 0px 26px 8px;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}

.wrapper > div + div {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        height: 1px;
        left: 8px;
        right: 8px;
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
        top: 0px;
    }
}

.nav {
    justify-content: flex-start;
    align-items: center;
}

.btn span,
.btn path {
    min-height: 32px;
    min-width: 32px;
    font-size: 1.8rem;
    line-height: 24px;
}

.btn > button {
    padding: 8px;
    justify-content: flex-start;
    width: 100%;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.login {
    padding: 20px 8px 24px;
    user-select: none;
}

.login > span {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.6rem;
    line-height: 21px;
}

.login {
    width: 100%;
}

.login-btn {
    width: 100%;
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: 600;
    margin-top: 20px;
}

.footer {
    padding: 16px 0 0 8px;
}

.footer * {
    color: rgba(22, 24, 35, 0.5);
}

.footer span {
    min-height: 0;
    min-width: 0;
    margin: 5px 6px 0 0;
    font-size: 1.2rem;
    line-height: 16px;
    font-weight: 600;
}

.footer-label > button {
    min-width: 0;
    padding: 0;
}

.footer-label * {
    margin-top: 16px;
}

.footer-label > .btn {
    margin: 0;
}

.footer-label h4 {
    font-size: 1.5rem;
    line-height: 22px;
    font-weight: 700;
}

.footer .end {
    display: block;
    margin-top: 14px;
}
